.form {
    display: flex;
    flex-direction: column;
    justify-content: center;
    height: 100vh;
    align-items: center;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-size: 30px;
}

.form-inner {
    display: flex;
    flex-direction: column;
    justify-content: center;
    border: 2px solid;
    padding: 20px;
}

h2 {
    font-size: 35px;
    margin-bottom: 15px;
    padding-bottom: 10px;
    letter-spacing: -1px;
    display: flex;
    justify-content: center;
}

input{
    min-width: 580px;
    height: 10px;
    padding: 20px 0;
    padding-left: 15px;
    margin-bottom: 10px;
    outline: none;
    border: 1px solid rgba(0, 0, 0, 0.24);
    border-radius: 5px;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-size: 15px;
}

.btn {
    display: flex;
    justify-content: center;
    margin-left: 10px;
}

button {    
    width: 80px;
    height: 40px;
}

